*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background: var(--body-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.btn {
  --height: 50px;
  display: inline-block;
  min-width: 144px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 16px;
  border: 1px solid rgba(212, 69, 45, 0.5);
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
}

.btn:hover {
  border: none;
  box-shadow: none;
  background: var(--hover-btn-color);
  transition: 0.4s ease 0s;
}

.section-heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--text-color);
}

.section-desc {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--text-color);
}