@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}

.header.header--fixed {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 255);
}

.top-bar {
  @extend %flexItemCenter;
  height: 52px;

  &__more {
    display: none;

    // For tablet
    @include abstracts.breakpoint(lg) {
      display: none;
    }

    // For phone
    @include abstracts.breakpoint(sm) {
      display: block;
    }
  }
}

.navbar {
  &__list {
    @extend %flexItemCenter;
    gap: 100px;

    // For fixing style under 767
    @include abstracts.breakpoint(lg) {
      gap: 40px;
    }

    // For phone
    @include abstracts.breakpoint(sm) {
      display: none;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 200;
    line-height: 146.667%;
    padding: 8px 16px;
  }
}

.kashy-partner {
  margin-left: auto;

  // For tablet
  @include abstracts.breakpoint(lg) {
    display: none;
  }
}
