@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}

.top-bar {
  @extend %flexItemCenter;
  height: 52px;

  &__more {
    display: none;

    // For tablet
    @include abstracts.breakpoint(lg) {
      display: block;
    }
  }
}

.navbar {
    // For tablet
    @include abstracts.breakpoint(lg) {
      // display: none;
    }

  &__list {
    @extend %flexItemCenter;
    gap: 220px;
  }

  &__link {
    font-size: 2rem;
    font-weight: 200;
    line-height: 146.667%;
  }
}

.kashy-partner {
  margin-left: auto;

  // For tablet
  @include abstracts.breakpoint(lg) {
    display: none;
  }
}