@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.navbar {
  z-index: 9;

  // Pleas remove sm breakpoint due to I cannot js ts function for navbar
  // For mobile
  @include abstracts.breakpoint(sm) {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 9;

    margin-left: 0;
    padding: 20px 0;
    background: #fff;

    translate: 100%;
    transition: translate 0.5s;

    &.show {
        translate: 0;
    }

    &.show ~ &__overlay {
        visibility: visible;
        opacity: 1;
    }
  }

  &__list {
    @extend %flexItemCenter;
    gap: 100px;

    // For fixing style under 767 ! may fix bf, dont remember where
    @include abstracts.breakpoint(lg) {
      gap: 40px;
    }

    // For phone
    @include abstracts.breakpoint(sm) {
      // display: none;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 200;
    line-height: 146.667%;
    padding: 8px 16px;
  }
}
