@use "../../../abstracts";
// For doing responsive

.review-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-content: space-evenly;
  column-gap: 32px;
}

