@use "../../../abstracts";
// For doing responsive

.form {
  width: 400px;
  margin: 32px auto 0;
  /* outline for the form */
  outline: 3px solid #000;
  border-radius: 8px 8px 0 0;
  padding: 8px;
}

.form-group {
  margin-bottom: 16px;

  &__label,
  &__input {
    display: block;
  }

  &__label {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--text-color);
  }

  &__serivces,
  &__input,
  &__textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #e3e3e9;
    background: var(--body-bg-color);
    padding: 8px 0 14px 0;
    color: var(--text-color);
  }

  &__textarea {
    resize: none;
    max-height: 200;
  }
}

.form-group:first-child {
  margin-top: 16px;
}

.form-group:focus-within .form-group__label:not(.large) {
  color: var(--primary-color);
}

.form-group:focus-within .form-group__input {
  border-color: var(--primary-color);
}

.form-group__input::placeholder,
.form-group__textarea::placeholder {
  color: var(--form-placeholder-color);
}

// Checkbox, btn
.checkbox {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 1.2rem;

  &__desc, &__files {
    color: var(--form-checkbox-color);
  }

  &__files {
    text-decoration: underline;
  }
}

.submit-box {
  display: flex;
  justify-content: center;

  &__btn {
    color: var(--text-color);
    background: var(--secondary-color);
    box-shadow: 0px 13px 26px -8px var(--btn-shadow-color);
    outline: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
  }
}