html {
  --text-color: #000;
  // --icon-color
  // use filter css generator if needed

  --header-bg-color: #fff;
  --body-bg-color: #f1f2ed;
  --homepage-btn-color: #ffbbaa;
  --homepage-btn-shadow-color: rgba(212, 69, 45, 0.8);
}